.homeConteiner {
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainCarousel {
  width: 90vw;
  margin-top: 2em;
  margin-bottom: 2em;
}

.categoriesConteiner {
  width: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.category {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.categoryBottomSide {
  width: 80vw;
}


